settings: true
sharingOptions: true
slidePdfEnabled: true
dashboardPdfEnabled: true
captureChartEnabled: true
embedCharts: true
comments: true

glossary:
  title: 'Glossaire'
  terms: [
    term: "Dataviz"
    meaning: "c’est l’art de raconter des chiffres de manière créative et ludique, là où les tableaux Excel échouent. C’est en quelque sorte mettre en musique l’information chiffrée"
  ]
slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: 'Digital Transformation'
    id: 10
    hidden: true
  }
  {
    level: 1
    title: 'Digital Performance'
    id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Contact Touchpoint'
    id: 201
    parent_id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Acquisition FunnelView'
    id: 202
    parent_id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Acquisition Detail'
    id: 203
    parent_id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Recency'
    id: 204
    parent_id: 20
    hidden: false
  }
  {
    id: 10001
    level: 3
    hidden: false
    parent_id: 10
    title: 'Sales Evolution'
  }
  {
    id: 10002
    level: 3
    hidden: false
    parent_id: 10
    title: 'New customers Evolution'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    chartOptions:
      units:
        value: "New customers"     # nom de ma légende
        evolution_bis: "% d'évolution"
      chartType: "barchart"
      value: "value"
      label: "period"
      data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator: $in: ["New clients"]
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
        ]
        postprocess:[
          pivot:
              index: ['Month']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'evolution'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'evolution_bis'
              column_1: 'evolution'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','evolution_bis']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'





        ]
      meta: [
        'evolution_bis'
      ]
      legend: true
  }
  {
    id: 10003
    level: 3
    hidden: false
    parent_id: 10
    title: 'Frequency of mobile App usage'
  }
  {
    id: 10004
    level: 3
    hidden: false
    parent_id: 10
    title: 'Percentage of active clients'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    chartOptions:
      units:
        value: "%"     # nom de ma légende
        evolution: "% d'évolution"
      chartType: "linechart"
      value: "value"
      groups: "Metric_Name"
      date: "period"
      data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Metric_Name: $in: ['% of active mobile app clients','% of active website clients']
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Metric_Value: $multiply: ["$Metric_Value", 100]
            Metric_Name: '$Metric_Name'
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
        ]
        postprocess:[
          pivot:
              index: ['Month','Metric_Name']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'evolution'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'evolution'
              column_1: 'evolution'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','evolution','Metric_Name']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'





        ]
      metaSerie: [
        'evolution'
      ]
      legend: true
  }
  {
    id: 10005
    level: 3
    hidden: false
    parent_id: 10
    title: 'Percentage of online forms'
  }
  {
    id: 20101
    level: 3
    hidden: false
    parent_id: 201
    title: 'Qualified visits'
    commentary: "Are we reaching the most qualified audience to increase our potential client base?"

    datasets:
      bars_data:
        query:
          domain: 'ToucanTouco'
          Subcategory: $in: ['Contact Touchpoints']
          Metric_Acronym: $in: ['NB_Visits']
          Bank_Name: $in: ['All']
        units:
          value: ' nb of visits'
      lines_data:
        query:
          domain: 'ToucanTouco'
          Subcategory: $in: ['Contact Touchpoints']
          Metric_Acronym: $in: ['BounceRate']
          Bank_Name: $in: ['All']
        precision:
          value: '.2f'
        units:
          value: ' bounce rate'

  chartOptions:
    chartType: 'new-barlinechart'

    bars:
      dataset: 'bars_data'
      domain: [0, 2000000]
    label: 'Period'
    value: 'Metric_Value'
    groups:'Bank_Name'

    lines:
      dataset: 'lines_data'
      x: 'Period'
      y: 'Metric_Value'
      domain: [0, 10]
      serie: 'Bank_Name'

    legend: true
  }
  {
    id: 20201
    level: 3
    hidden: false
    parent_id: 202
    title: 'Product Form'
  }
  {
    id: 20202
    level: 3
    hidden: false
    parent_id: 202
    title: 'Simulator'
  }
  {
    id: 20301
    level: 3
    hidden: false
    parent_id: 203
    title: 'Product View'
  }
  {
    id: 20401
    level: 3
    hidden: false
    parent_id: 204
    title: 'Visits return frequency'
  }
  {
    id: 20402
    level: 3
    hidden: false
    parent_id: 204
    title: 'Global Top 5 Actions'
  }
  {
    id: 20403
    level: 3
    hidden: false
    parent_id: 204
    title: 'Global Top 5 Business & Not-Business Oriented Actions'
  }
  {
    id: 20404
    level: 3
    hidden: false
    parent_id: 204
    title: 'App Dowload trend evolution'
  }

]
