settings: true
sharingOptions: true
slidePdfEnabled: true
dashboardPdfEnabled: true
captureChartEnabled: true
embedCharts: true
comments: true

glossary:
  title: 'Glossaire'
  terms: [
    term: "Dataviz"
    meaning: "c’est l’art de raconter des chiffres de manière créative et ludique, là où les tableaux Excel échouent. C’est en quelque sorte mettre en musique l’information chiffrée"
  ]
slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: 'Digital Transformation'
    id: 10
    hidden: true
  }
  {
    level: 1
    title: 'Digital Performance'
    id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Contact Touchpoint'
    id: 201
    parent_id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Acquisition FunnelView'
    id: 202
    parent_id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Acquisition Detail'
    id: 203
    parent_id: 20
    hidden: false
  }
  {
    level: 2
    title: 'Recency'
    id: 204
    parent_id: 20
    hidden: false
  }
  {
    id: 10001
    level: 3
    hidden: false
    parent_id: 10
    title: 'Sales Evolution'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    datasets:
      bars_data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator: $in: ['Total sales']
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
            Indicator: '$Indicator'
            Metric_Name: "$Metric_Name"
        ]
        postprocess:[
          pivot:
              index: ['Month','Indicator','Metric_Name']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'Evolution vs N-1'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'Evolution vs N-1'
              column_1: 'Evolution vs N-1'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','Evolution vs N-1','Indicator','Metric_Name']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'
        ,
          convert_str_to_datetime:
             selector: 'period'
             format: '%Y%m'
        ,
          convert_datetime_to_str:
             selector: 'period'
             format: '%Y-%m'
        ]
        units:
          value: ' Nb of Sales'
      lines_data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator: $in: ['Total sales contributed by digital channels']
            Metric_Name: $in: ['% of sales contributed by digital channels']
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Indicator: '$Indicator'
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
            Metric_Value: $multiply: ["$Metric_Value", 100]
            Metric_Name: "$Metric_Name"
        ]
        postprocess:[
          pivot:
              index: ['Month','Indicator','Metric_Name']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'Evolution vs N-1'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'Evolution vs N-1'
              column_1: 'Evolution vs N-1'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','Evolution vs N-1','Indicator','Metric_Name']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'
        ,
          convert_str_to_datetime:
             selector: 'period'
             format: '%Y%m'
        ,
          convert_datetime_to_str:
             selector: 'period'
             format: '%Y-%m'
        ]
        units:
          value: ' %'

    chartOptions:
      chartType: 'new-barlinechart'
      bars:
        dataset: 'bars_data'
        domain: [0, 200000]
      label: 'period'
      value: 'value'
      groups: 'Metric_Name'


      lines:
        dataset: 'lines_data'
        x: 'period'
        y: 'value'
        domain: [0, 10]
        serie: 'Metric_Name'


      legend: true
      metaSerie: [
        'Evolution vs N-1'
      ]
  }
  {
    id: 10002
    level: 3
    hidden: false
    parent_id: 10
    title: 'New customers Evolution'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    chartOptions:
      units:
        value: " New customers"     # nom de ma légende
      chartType: "barchart"
      value: "value"
      label: "period"
      data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator: $in: ["New clients"]
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
        ]
        precision:
          'Evolution': '.1f'
        postprocess:[
          pivot:
              index: ['Month']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'Evolution'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'Evolution'
              column_1: 'Evolution'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','Evolution']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'
        ,
          convert_str_to_datetime:
             selector: 'period'
             format: '%Y%m'
        ,
          convert_datetime_to_str:
             selector: 'period'
             format: '%Y-%m'
        ]
      metaSerie: [
        'Evolution'
      ]
      legend: true
  }
  {
    id: 10003
    level: 3
    hidden: false
    parent_id: 10
    title: 'Frequency of mobile App usage'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    datasets:
      bars_data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator: $in: ['Frequency of mobile app usage']
            Metric_Name: $in: ['# of connections to mobile app']
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
            Indicator: '$Indicator'
            Metric_Name: '$Metric_Name'
        ]
        postprocess:[
          pivot:
              index: ['Month','Indicator','Metric_Name']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'Evolution vs N-1'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'Evolution vs N-1'
              column_1: 'Evolution vs N-1'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','Evolution vs N-1','Indicator','Metric_Name']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'
        ,
          convert_str_to_datetime:
             selector: 'period'
             format: '%Y%m'
        ,
          convert_datetime_to_str:
             selector: 'period'
             format: '%Y-%m'

        ]
        units:
          value: ' Nb of connections'
      lines_data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator: $in: ['Frequency of mobile app usage']
            Metric_Name: $in: ['Avg. # of connections to mobile app by user']
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Indicator: '$Indicator'
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
            Metric_Name: "$Metric_Name"

        ]
        postprocess:[
          pivot:
              index: ['Month','Indicator','Metric_Name']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'Evolution vs N-1'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'Evolution vs N-1'
              column_1: 'Evolution vs N-1'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','Evolution vs N-1','Indicator','Metric_Name']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'
        ,
          convert_str_to_datetime:
             selector: 'period'
             format: '%Y%m'
        ,
          convert_datetime_to_str:
             selector: 'period'
             format: '%Y-%m'

        ]
        units:
          value: ' number of average connections per user'

    chartOptions:
      chartType: 'new-barlinechart'
      bars:
        dataset: 'bars_data'
        domain: [0, 700000]
      label: 'period'
      value: 'value'
      groups: 'Metric_Name'


      lines:
        dataset: 'lines_data'
        x: 'period'
        y: 'value'
        domain: [0, 30]
        serie: 'Metric_Name'


      metaSerie: [
        'Evolution vs N-1'
      ]
      legend: true
  }
  {
    id: 10004
    level: 3
    hidden: false
    parent_id: 10
    title: 'Percentage of active clients'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    chartOptions:
      units:
        value: "%"     # nom de ma légende
        evolution: "% d'évolution"
      chartType: "linechart"
      value: "value"
      groups: "Metric_Name"
      date: "period"
      data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Metric_Name: $in: ['% of active mobile app clients','% of active website clients']
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Metric_Value: $multiply: ["$Metric_Value", 100]
            Metric_Name: '$Metric_Name'
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
        ]
        postprocess:[
          pivot:
              index: ['Month','Metric_Name']
              column: ['Year']
              value: 'Metric_Value'
        ,
          subtract:
              new_column: 'difference'
              column_1: '2018'
              column_2: '2017'
        ,
          divide:
              new_column: 'evolution'
              column_1: 'difference'
              column_2: '2018'
        ,
          multiply:
              new_column: 'evolution'
              column_1: 'evolution'
              column_2: 100
        ,
          melt:
              id: ['Month','difference','evolution','Metric_Name']
              value: ['2018','2017']
              dropna: true
        ,
          add:
              new_column: 'period'
              column_1: 'Year'
              column_2: 'Month'
         ,
          convert_str_to_datetime:
             selector: 'period'
             format: '%Y%m'
        ,
          convert_datetime_to_str:
             selector: 'period'
             format: '%Y-%m'
        ]
      metaSerie: [
        'evolution'
      ]
      legend: true
  }
  {
    id: 10005
    level: 3
    hidden: false
    parent_id: 10
    title: 'Percentage of online forms'
    commentary: "What is the contribution of digital in sales and business? Can we identify axes of amelioration?"

    datasets:
      bars_data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator_Group: $in: ['Product initiated form','Product finished form']
            Indicator: $in: ['All products']
            Platform_Category: $in: ["Site"]
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
            Indicator_Group: ['$Indicator_Group']
        ]
        #postprocess:[
          #pivot:
              #index: ['Month','Indicator']
              #column: ['Year']
              #value: 'Metric_Value'
        #,
          #subtract:
              #new_column: 'difference'
              #column_1: '2018'
              #column_2: '2017'
        #,
          #divide:
              #new_column: 'evolution'
              #column_1: 'difference'
              #column_2: '2018'
        #,
          #multiply:
              #new_column: 'evolution'
             # column_1: 'evolution'
             # column_2: 100
        #,
          #melt:
              #id: ['Month','difference','evolution','Indicator']
              #value: ['2018','2017']
              #dropna: true
        #,
          #add:
              #new_column: 'period'
              #column_1: 'Year'
              #column_2: 'Month'

        #]
      lines_data:
        query:[
          $match:
            domain:"DigitalTransformation"
            Country_Name: $in: ["Luxembourg"]
            Bank_Name: $in: ["BNP"]
            Indicator_Group: $in: ['Product form completion rate']
            Indicator: $in: ['All products']
            Platform_Category: $in: ["Site"]
        ,
          $project:
            Metric_Value: "$Metric_Value"
            Indicator_Group: '$Indicator_Group'
            Period: "$Period"
            Year: $substr: ["$Period",0, 4]
            Month: $substr: ["$Period",4, 6]
            Metric_Value: $multiply: ["$Metric_Value", 100]
        ]
        #postprocess:[
          #pivot:
              #index: ['Month','Indicator']
              #column: ['Year']
              #value: 'Metric_Value'
        #,
          #subtract:
              #new_column: 'difference'
              #column_1: '2018'
              #column_2: '2017'
        #,
          #divide:
              #new_column: 'evolution'
              #column_1: 'difference'
              #column_2: '2018'
        #,
          #multiply:
              #new_column: 'evolution'
             # column_1: 'evolution'
             # column_2: 100
        #,
          #melt:
              #id: ['Month','difference','evolution','Indicator']
              #value: ['2018','2017']
              #dropna: true
        #,
          #add:
              #new_column: 'period'
              #column_1: 'Year'
              #column_2: 'Month'

        #]

    chartOptions:
      chartType: 'new-barlinechart'
      bars:
        dataset: 'bars_data'
        domain: [0, 3000]
      label: 'Period'
      value: 'Metric_Value'
      groups: 'Indicator_Group'


      lines:
        dataset: 'lines_data'
        x: 'Period'
        y: 'Metric_Value'
        domain: [0, 100]
        serie: 'Indicator_Group'
      #metaSerie: [
        #'evolution'
      #]
      legend: true
  }
  {
    id: 20101
    level: 3
    hidden: false
    parent_id: 201
    title: 'Qualified visits'
    commentary: "Are we reaching the most qualified audience to increase our potential client base?"

    datasets:
      bars_data:
        query:[
          $match:
            domain: 'ToucanTouco'
            Subcategory: $in: ['Contact Touchpoints']
            Metric_Acronym: $in: ['NB_Visits']
            Bank_Name: $in: ['BNP','HelloBank!']
            Country_Name: $in: ['France']
        # ,
        #   $group:
        #     _id:
        #       Platform_Category : "$Platform_Category"
        #     Metric_Value: $sum: "$Metric_Value
        ,
          $project:
              Metric_Value: 1
              Bank_Name : 1
              Platform_Category : 1
              Metric_Acronym : 1
              Period : 1
        ]

      lines_data:
        query:[
          $match:
            domain: 'ToucanTouco'
            Subcategory: $in: ['Contact Touchpoints']
            Metric_Acronym: $in: ['BounceRate']
            Bank_Name: $in: ['BNP','HelloBank!']
            Country_Name: $in: ['France']
        # ,
        #   $group:
        #     _id:
        #       Platform_Category : "$Platform_Category"
        #     Metric_Value: $sum: "$Metric_Value"
        ,
          $project:
              Metric_Value: $multiply: ["$Metric_Value", 100]
              Bank_Name : 1
              Platform_Category : 1
              Metric_Acronym : 1
              Period : 1
        ]
        precision:
          value: '.2f'
        units:
          Metric_Value: [
            unit: " Visits"
            where:
              "Metric_Acronym": "NB_Visits"
          ,
            unit: " %"
            where:
              "Metric_Acronym": "BounceRate"
          ]
    chartOptions:
      chartType: 'new-barlinechart'

      bars:
        dataset: 'bars_data'
        #domain: [0, 2000000]
      label: 'Period'
      value: 'Metric_Value'
      groups:'Bank_Name'

      lines:
        dataset: 'lines_data'
        x: 'Period'
        y: 'Metric_Value'
        domain: [0, 100]
        serie: 'Bank_Name'

      legend: true

      filters:
        "upper-right":
          on: "Platform_Category"
          type: "buttons"
          datasets: ['bars_data','lines_data']
  }

  {
    id: 20201
    level: 3
    hidden: false
    parent_id: 202
    title: 'Product Form'
  }
  {
    id: 20202
    level: 3
    hidden: false
    parent_id: 202
    title: 'Simulator'
  }
  {
    id: 20301
    level: 3
    hidden: false
    parent_id: 203
    title: 'Product View'
    commentary: " What products are more interesting for the potential clients? (new clients and cross sell)"

    datasets:
      bars_data:
        query:[
          $match:
            domain: 'ToucanTouco'
            Subcategory: $in: ['Acquisition']
            Metric_Acronym: $in: ['NB_Visits']
            Bank_Name: $in: ['BNP','HelloBank!']
            Country_Name: $in: ['France','Luxembourg']
        ,
          $group:
            _id:
              "Period": '$Period'
            Metric_Value: $sum: "$Metric_Value"
        ,
          $project:
            Period : "_id.Period"
            Metric_Value: 1
            Indicator_Group: 1
            Bank_Name: $literal: "All"
        ]

        crossfilter:
          on: 'Period'
          datasets: ["bars_data"]

      lines_data:
        query:[
          $match:
            domain: 'ToucanTouco'
            Subcategory: $in: ['Acquisition']
            Metric_Acronym: $in: ['Pct_Visits']
            Bank_Name: $in: ['BNP','HelloBank!']
            Country_Name: $in: ['France','Luxembourg']
        ,
          $group:
            _id:
              "Period": '$Period'
            Metric_Value: $sum: "$Metric_Value"
        ,
          $project:
            Period : "_id.Period"
            Metric_Value: 1
            Indicator_Group: 1
            Bank_Name: $literal: "All"
        ]

      slave_data:
        query:[
          $match:
            domain: 'ToucanTouco'
            Subcategory: $in: ['Acquisition']
            Metric_Acronym: $in: ['Pct_Visits']
            Bank_Name: $in: ['BNP','HelloBank!']
            Country_Name: $in: ['France','Luxembourg']
        ]

    charts: [
      {
        chartType: "new-barlinechart"
        filters:
          "bottom-right":
            on: "Indicator_Group"
            type: "buttons"
            datasets: [
              'bars_data'
              'lines_data'
            ]
        bars:
          dataset:"bars_data"
        label:"Period"
        value:"Metric_Value"
        groups:"Period"
        lines:
          dataset:"line_data"
          x: "Period"
          y: "Metric_Value"
          serie: "Period"
        crossfilter:
          on: 'Period'
          datasets: [
            'slave_data'
          ]
      }
      {
        dataset: "slave_data"
        chartType: "horizontalbarchart"
      }
    ]
  }
  {
    id: 20401
    level: 3
    hidden: false
    parent_id: 204
    title: 'Visits return frequency'
  }
  {
    id: 20402
    level: 3
    hidden: false
    parent_id: 204
    title: 'Global Top 5 Actions'
  }
  {
    id: 20403
    level: 3
    hidden: false
    parent_id: 204
    title: 'Global Top 5 Business & Not-Business Oriented Actions'
  }
  {
    id: 20404
    level: 3
    hidden: false
    parent_id: 204
    title: 'App Dowload trend evolution'
  }

]
